/TPM/*
/subgenome/*
/assembly/*
/synteny/*
/synteny_graph/*
/woodycrawling/*
/venn/*
/LTR/*

!/TPM/*.ipynb
!/subgenome/*.ipynb
!/assembly/*.ipynb
!/synteny/*.ipynb
!/synteny_graph/*.ipynb
!/woodycrawling/*.ipynb
!/venn/*.ipynb
!/LTR/*.ipynb

